@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* header-style */
.head {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    font-family: "work sans", sans-serif;
    justify-content: space-between;
    color: #3a3a3a;
    margin-bottom: 30px;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
nav > ul > li > a {
    text-decoration: none;
}

.head-title {
    font-size: 1.3rem;
    font-weight: bold;
}

/* visit-section-style */
.visit {
    font-family: "work sans", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.visit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visit-img {
    width: 300px;
}

.visit-title {
    font-size: 2.6rem;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 18px;
}

.visit-description {
    font-size: 0.9rem;
    color: #3a3a3a;
    margin-bottom: 22px;
}

.visit-btn {
    color: #ffffff;
    background-color: #e02c6d;
    border: none;
    padding: 8px 25px;
    border-radius: 40px;
}

.visit-image img {
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px;
}

/* icon-section-style */
.icon {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow:
        0 -2px 3px 1px rgba(0, 0, 0, 0.1),
        0 2px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.icon-image {
    width: 70px;
}

/* photo-section-style */
.photo {
    max-width: 955px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.photo-title {
    font-family: "work sans", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #3a3a3a;
}

.photo-card img {
    width: 280px;
}

.photo-container {
    font-family: "work sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 18px;
}

.photo-card {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 6px;
}

.photo-card-title {
    font-size: 1.2rem;
    color: #3a3a3a;
    margin-bottom: 0px;
}

.photo-card-number {
    margin-top: 9px;
    margin-bottom: 0px;
}

.photo-card-description {
    width: 220px;
    font-size: 0.9rem;
    margin-top: 10px;
}

.paragraph {
    font-family: "work sans", sans-serif;
    display: flex;
    justify-content: end;
    color: #e02c6d;
    margin-top: 25px;
}

/* feature-section-design */
.feature {
    max-width: 960px;
    margin: 0 auto;
    font-family: "work sans", sans-serif;
    margin-bottom: 80px;
}

.feature-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 420px;
}

.feature-title {
    font-size: 1.8rem;
    color: #0a0826;
    font-weight: bold;
    margin-top: 50px;
}

.feature-description {
    font-size: 0.7rem;
    color: #6c6c6c;
    width: 390px;
    margin-bottom: 30px;
}

.feature-btn {
    color: #ffffff;
    background-color: #e02c6d;
    border: none;
    padding: 8px 25px;
}

/* product-section-design */
.product {
    max-width: 1250px;
    margin: 0 auto;
    font-family: "work sans", sans-serif;
    color: #ffffff;
    background-color: #0a0826;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 22px;
}

.product-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-description {
    font-size: 0.9rem;
    color: rgba(217, 219, 225, 1);
}

.product-copyright {
    font-size: 0.9rem;
    color: rgba(217, 219, 225, 1);
}

.awesome {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* responsive-design-for-mobile-devices */
@media screen and (max-width: 576px) {
    .head,
    .visit-container {
        flex-direction: column;
        align-items: center;
    }
    nav {
        display: none;
    }
    .visit-container,
    .feature-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .visit-img {
        width: 300px;
        margin: 0 auto;
    }
    .head-title {
        margin-bottom: 10px;
    }
    .visit-title {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .visit-description {
        font-size: 1rem;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .visit-btn {
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    .icon {
        margin-bottom: 65px;
    }
    .icon-image {
        width: 50px;
        margin: 0 auto;
    }
    .icon-container {
        box-shadow: none;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        gap: 25px;
    }
    .visit {
        margin-bottom: 40px;
    }
    .photo-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .photo {
        margin-bottom: 40px;
    }
    .paragraph {
        margin-right: 50px;
    }
    .feature {
        margin-bottom: 25px;
    }
    .feature-title {
        font-size: 1.8rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .feature-image {
        width: 290px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .feature-description {
        width: 270px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
    }
    .feature-btn {
        display: flex;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .product {
        width: 100%;
        margin: 0 auto;
    }
}
